#welcome-container {
  height: 100%;
  .topnavbar-wrapper {
    .dropdown {
      margin-top: 10px;
      margin-right: 10px;
    }
  }
  main {
    padding: 30px 20px;
    h2 {
      color: #000;
    }
  }
}