
#login-layout {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  height: 100%;
  .row {
    flex-grow: 2;
    .left {
      padding-top: 70px;
    }
    .right {
      padding: 50px 50px 0 0;
      label {
        display: block;
      }
      > div {
        width: 100%;
        margin-bottom: 20px;
      }
    }
  }
}
