
#login-layout {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  height: 100%;
  .row {
    flex-grow: 2;
    .left {
      padding-top: 70px;
    }
    .right {
      padding: 50px 50px 0 0;
      label {
        display: block;
      }
      > div {
        width: 100%;
        margin-bottom: 20px;
      }

      .front-bezel-container {
        svg {
          width: 100%;
          display: block;
          margin: 0 auto;
        }
      }

      .baseinfo-container {
        table {
          font-size: 12px;
          th {
            background-color: #edeff2;
          }
        }
      }

      .licensed-container {
        .icon-row {
          display: flex;
          > div {
            margin: 0 5px;
          }
          + div {
            margin-top: 10px;
          }
        }
        // FIXME, remove this
        .dummy-icon {
          width: 100px;
          height: 100px;
          background-color: #bbc1cc;
        }
      }
    }
  }
}
