@mixin editableComponentWrapper {
  padding: 10px;
  overflow: overlay;
  position: absolute;
  top: -5px;
  right: -5px;
  left: -5px;
  bottom: -5px;

  // padding-top: 30px;
  display: inline-block;
  &:hover {
    .editable-component-toolbar {
      display: inline-block;
    }
  }
}


.editable-component-toolbar {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9999;
  i {
    margin-left: 10px;
    cursor: pointer;
  }
}

.editable-component-normal {
  @include editableComponentWrapper;
  z-index: 9999;
  border: 1px dashed #ddd;
  &:hover {
    border: 1px dashed #888;

  }
}

.editable-component-active {
  @include editableComponentWrapper;
  border: 1px solid darkblue;
  &:hover {
    border: 1px solid darkblue;
  }
}

.editable-component-container-spacing {
  min-height: 50px;
  min-width: 100px;
  overflow: hidden;
  padding: 10px;
}
