
.baseinfo-container {
  max-width: 100%;
  table {
    font-size: 12px;
    thead {
      th {
        background-color: #5BC0DE;
        color: #FFFFFF;
        text-align: center;
      }
    }
    tbody {
      td {
        background-color: #F2F2F2;
        text-align: center;
      }
    }
  }
}