
.showstand {
  background-color: #fff;
  color: #323232;
  font-family: 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande', 'Heiti TC', 'Microsoft JhengHei', sans-serif;;
  padding: 30px;

  .title {
    color: #323232;
    font-size: 24px;
    padding-top: 20px;
  }
}
