
@mixin wrapper {
  padding: 10px;
  overflow: overlay;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // padding-top: 30px;
  display: inline-block;

  span:nth-child(1) {
    opacity: 0;
    position: absolute;
    z-index: 2;
    top: 6px;
  }

  i {

    &:hover {
      cursor: pointer;
    }
  }

  i:nth-child(2) {
    opacity: 0;
    position: absolute;
    z-index: 2;
    top: 6px;
    right: 25px;
    color: #7777e9;
  }

  i:nth-child(3) {
    opacity: 0;
    position: absolute;
    z-index: 2;
    top: 6px;
    right: 10px;
    color: #f01111;
  }

  &:hover {
    i {
      opacity: 1;
    }

    span {
      opacity: 1;
    }
  }
}

.wrapper-normal {
  @include wrapper;
  border: 1px dashed #ddd;
  &:hover {
    border: 1px dashed #888;
  }
}

.wrapper-active {
  @include wrapper;
  border: 1px solid darkblue;
  &:hover {
    border: 1px solid darkblue;
  }
}