
.info-card {
  height: 95px;
  max-height: 95px;
  overflow: hidden;
  display: flex;
  color: #FFFFFF;
  user-select: none;
  border-radius: 5px;
  > .text-container {
    width: 30%;
    min-width: 30%;
    max-width: 30%;
    flex: 0 0;
    display: flex;
    flex-direction: column;
    background-color: #2B957A;
    justify-content: center;
    text-align: center;
    > .title {
      height: 50px;
      line-height: 50px;
      font-size: 14px;
    }
    > .description {
      flex-grow: 2;
      div:first-child {
        font-size: 18px;
        font-weight: 700;
        line-height: 1;
      }
      div:nth-child(2) {
        font-size: 12px;
        font-weight: 700;
        line-height: 1;
      }
    }
  }
  > .chart-container {
    flex: 1 0;
    background-color: #37BC9B;
    > * {
      height: 100%;
    }
  }
}