
@import './info_card';

.port-info {
  > .text-container {
    min-width: 18%;
    max-width: 18%;
    width: 18%;
    background-color: #999999 !important;
    > .title {
      height: 40px;
      line-height: 70px;
    }
    > .description {
      font-size: 20px;
    }
  }
  > .chart-container {
    background-color: #CCCCCC !important;
    > * {
      max-width: 100%;
      max-height: 100%;
    }
  }
}
